*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');
html, body, #root {
    height: 100%;
}
body{
    background: #000 url("./assets/background.jpg") no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font-family: 'Lora', serif;
    font-size:14px;
}